html, body {
	height: 100%;
	margin: 0px;
}

.kbox{
	display:flex;
	flex-flow:column;
	width:auto;
	height:100%;
}

.krow{
	display:flex;
	flex-flow:column;
	flex: 0 1 auto;
}

.kcontent{
	display:flex;
	flex-flow:column;
	flex: 1 1 auto;
}
